html,
body {
  margin: 0px;
}

.app-container {
  background-color: #1e1e1e;
  scrollbar-color: gray #161616;
  color: #adadad;
  font-size: 12px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#timeline {
  box-sizing: border-box;
  flex-grow: 8;
  width: 100%;
  height: 100%;
  scrollbar-color: gray #161616;
}

::-webkit-scrollbar {
  background: #161616;
  color: gray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-corner {
  background: #161616;
}

main {
  display: grid;
  /*grid-template-columns: ;*/
  height: 100%;
  width: 100%;
}

.button {
  padding: 0px;
  width: 44px;
  min-width: 44px;
  margin-right: 5px;
  color: #adadad;
  background: transparent;
  border: none;
}

.button:focus {
  outline: 0;
  border: none;
}

.button:hover {
  background: #201616;
}

.button:focus {
  border: none;
}

main {
  flex-grow: 4;
  height: 0px;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
}

footer {
  display: flex;
  height: 10%;
  max-height: 10%;
}

.toolbar {
  background-color: #383838;
  padding-left: 44px;
  max-height: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 36px;
  background-color: #3c3c3c;
}

.outline-header {
  height: 30px;
}

.outline-scroll-container {
  overflow: hidden;
}

.outline-node {
  padding-left: 20px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: white;
  user-select: none;
  height: 30px;
}

.outline-node:hover {
  background-color: #3399ff;
}

.links {
  display: flex;
  align-items: center;
}

a {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: white;
  margin-right: 30px;
}

.logs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.output {
  height: 100%;
  width: 100%;
}

.outline {
  width: 250px;
  min-width: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
  background-color: #383838;
}

.content {
  overflow: scroll;
}

.scroll-container {
    overflow-y: hidden !important;
    /* position: fixed !important; */
}

.scene-container {
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
 }

 .lil-gui {
  --name-width: 25%;
  --font-size: 64;
  --input-font-size: 64;
}

.targetgui {
  position: absolute; 
  --name-width: 10%;
  top: 0; 
  right: 0;
}

.armgui {
  position: absolute; 
  display: flex;
  top: 50%; 
  right: 0%;
  justify-content: center;
}

.jsoneditor-container {
  width: 20%;
  height: 40%;
  position: absolute; 
  top: 0;
}